// basic
$blue: #63A8EB;
$red: #F76260;
$orange: #FFBE00;
$gray: #CACACA;
$dark: #3A3A3A;

$white: #ffffff;
$gray-light: #E1E1E1;
$blue-light: #7BD7FE;
$orange-light: #FFEC58;
$red-dark: #FE7B81;
$red-light: #F43630;
$dark-light: #4D4D4D;