// basic
$blue: #63a8eb;
$red: #f76260;
$orange: #ffbe00;
$gray: #cacaca;
$dark: #3a3a3a;

$white: #fff;
$gray-light: #e1e1e1;
$blue-light: #7bd7fe;
$orange-light: #ffec58;
$red-dark: #fe7b81;
$red-light: #f43630;
$dark-light: #4d4d4d;
